<!-- <h1>Info of Tasks</h1>

<p>Name: <%= @task.name %></p>
<p>Address: <%= @task.address %></p>
<p>Stars: <%= @task.stars %></p>


<p>
  <%= link_to 'Edit', edit_task_path(@restaurant) %>
</p>

<p>
<%= link_to 'Remove this Task', task_path, method: :delete %>
</p>
 -->
